label {
  /*font-weight: normal;*/
}

ul.checkbox_list,
ul.radio_list {
  list-style-type: none;
  margin: 0;
  padding:0;

  li {
    margin: 0;
    padding: 0;
  }
}

label.error {
  font-weight: normal;
  color: #FF0000;
}