$icon-font-path: '../fonts/';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import "forms";

@font-face { font-family: GothamMedium; src: url('../fonts/GothamNarrow-Medium.otf'); }
@font-face { font-family: GothamBook; src: url('../fonts/Gotham-Book.otf'); }
@font-face { font-family: GothamBold; src: url('../fonts/Gotham-Bold.otf'); }

body {
  font-family: "Verdana";
  font-size: 16px;
  line-height: 20px;
  color: #434343;
  background-color: black;
}

/*h1 { margin: 0px 0px 16px 0px; font-size: 14px; line-height: 18px; color: #052977; }
  h2 { margin: 0px 0px 16px 0px; font-size: 12px; line-height: 14px; color: #666666; }
  h3 { margin: 0px 0px 16px 0px; font-size: 18px; line-height: 22px; color: #666666; }
  h4 { margin: 0px 0px 16px 0px; font-size: 16px; line-height: 20px; font-weight: bold; color: #666666; }
*/
.page_container {
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);;
  width: 100%;
  position: absolute;
  /*-webkit-transform : translate3d(-9999px,0,0);*/
}

#logo {
  margin-top: 18px;
}

.Navbar__Logo {
  height: 55px;
  width: auto;
}

.form-wrapper {
  margin: 0 15px;
}

#signature_pad_wrapper {

  margin-bottom: 1em;
}
#signature-form {
  height: 315px;
}
canvas#signature_pad {

  width: 100%;
  height: 200px;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.call {
  color: #FF0000;
  font-weight: bold;
}

.SignaturePad__Wrapper {
  @include clearfix();

  .canvas-container {
    margin-bottom: 1em;
  }
}

.SignaturePad__Wrapper {
  @include clearfix();

  .canvas-container {
    //margin-bottom: 1em;
  }
}

.SignaturePad__Canvas {
  width: 100%;
  height: 100px;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.has-error {
  .SignaturePad__Canvas {
    border-color: #a94442;
  }
}


.Signature {
  width: 200px;

  svg {
    width: 100%;
    height: auto;
  }
}
